<h2><%= @category.name %></h2>
<p>

  <div class="row">
<% @category.ads.each do |ad| %>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4><%= link_to ad.name, ad %></h4>
        <p class="card-text"><%= ad.item_description %></p>
        <a href="<%=ad_path(ad)%>" class="btn btn-primary">See item</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
